.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.gold {
  color: #e49436;
}

span.byline, span.aside {
  color: #bbb;
}

span.byline {
  font-size: 80%;
}

span.aside {
  font-size: 0.7em;
  font-style: italic;
}

span.aside2 {
  font-size: 0.7em;
}
